ul.contains-task-list {
  padding-left: 0.2em;
  list-style: none;
}

ul.contains-task-list li::before {
  content: none;
}

ul.contains-task-list input[type="checkbox"]:disabled {
  border: 2px solid var(--vt-c-divider-light);
  background: transparent;
}
